body{
    background-color: blue;
}

#klucis{
    top: 100px;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
}

#poga{
    bottom: 100px;
    left: 50px;
    position: absolute;
    height: 80px;
    width:200px;
    border: none;
    background-color: black;
    color: white;
}

#laukums{
    top: 10px;
    left: 50px;
    height: 80vh;
    width: 95vw;
    background-image: url("suns.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    position: absolute;
}